# Python
__pycache__/
*.pyc

# Mac/OSX
.DS_Store

# Data
.csv

# Virtual Environment
.venv/

# Environmental Variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py